body{
    background-color: orange;
}

h1{
    color: black;
}
header {
    background-color: #ddd;
    padding: 20px;
    text-align: center;
}
.Images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    column-gap: 10px;
    height: 50vh;
}
.Images img {
    width: 100px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.Input-and-Text,
.Buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.Input-and-Text {
    margin-bottom: 20px;
    flex-direction: row;
}

.Buttons {
    gap: 10px;
}

#SubmitButton{
    padding: 10px 20px;
    width: 150px;
    cursor: pointer;
    background-color: #dfdc2e;
    color: black;
    border: none;
    border-radius: 5px;
}

#ResetButton{
    padding: 10px 20px;
    width: 150px;
    cursor: pointer;
    background-color: rgb(70, 70, 70);
    color: white;
    border: none;
    border-radius: 5px;
}

#SubmitButton:hover{
    background-color: #819f1e;
}

#ResetButton:hover{
    background-color: black;
}

.Input-and-Text input {
    margin-left: 10px;
}
.Hearts {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: calc(50%);
    margin-top: calc(-8%);
    gap: 15px;
}
.score-container,
.lives-container {
    display: flex;
    align-items: center;
    gap: 10px;
}
.hearts img {
    width: 60px;
    height: auto;
}